<%- include('../partials/header') %>

<h3>yo</h3>
<table>
    <thead>
        <tr>
            <th>Routine</th>
            <th>Days</th>
        </tr>
    </thead>
    <tbody>
        <% routines.forEach(function(r) { %>
            <tr>
                <td><a href="/routines/<%= r._id %>"><%= r.name%></td>
                <td><%= r.workouts.length%></td>
            </tr>
        <% }) %>
    </tbody>
</table>
<%- include('../partials/footer') %>