<%- include('../partials/header') %>

<div class="showing">
<table id="list">
    <thead>
        <tr>
            <th>Routine</th>
            <th>Split</th>
        </tr>
    </thead>
    <tbody>
        <% routines.forEach(function(r) { %>
            <tr>
                <td><a href="/routines/<%= r._id %>"><%= r.name%></td>
                <td><%= r.workouts.length%></td>
            </tr>
        <% }) %>
    </tbody>
</table>
</div>
<%- include('../partials/footer') %>