<%- include('../partials/header') %>
<% routine.workouts.forEach(function(workout){ %>
    <table>
        <form action="/workouts/<%= workout._id %>?_method=DELETE" method="POST">
            <label class="workout-title"><%= workout.name %></label>
            <% if (user && user._id.equals(routine.user)) { %>
                <button class="delete" type="submit">X</button>
            <% } %>
        </form>
    <% console.log(workout.exercises.length); %>
            <% if (workout.exercises.length > 0) { %>
            <thead>
                <th>Exercise</th>
                <th>Sets</th>
                <th>Reps</th>
            </thead>
            <tbody>
            <% workout.exercises.forEach(function(exercise) { %>
                <tr>
                    <td><% console.log(exercise.name); %> <%= exercise.name%></td>
                    <td><% console.log(exercise.sets); %> <%= exercise.sets%></td>
                    <td><%= exercise.reps%></td>
                    <td>
                        <% if (user && user._id.equals(routine.user)) { %>
                        <form action="/workouts/<%= workout._id %>/exercises/<%= exercise._id %>?_method=DELETE" method="POST">
                            <button class="delete" type="submit">X</button>
                        </form>
                        <% } %>
                    </td>
                </tr>
            <% }); %>
            </tbody>
            <% } %>
        </table>
    <% if (user) {%>
        <% if (routine.user.equals(user._id)) { %>
            <form action="/routines/<%= routine._id %>/workouts/<%= workout._id %>/exercises" method="POST">
                <label>EXERCISE</label>
                <input type="text" name="name" required>
                <label>SETS</label>
                <input type="number" min="0" name="sets" oninvalid="alert('Please enter a positive number')" required>
                <label>REPS</label>
                <input type="number" min="0" name="reps" oninvalid="alert('Please enter a positive number')" required>
                <input class="add" type="submit" value="Add Exercise">
                <br>
            </form>
    <% }} %>
<% }) %>
<% if (user) {%>
    <% if (routine.user.equals(user._id)) { %>
    <h3>Add another Workout Day</h3>
    <form action="/routines/<%= routine._id %>/workouts" method="POST">
        <label>WORKOUT NAME</label>
        <input type="text" name="name" required>
        <input class="add" type="submit" value="Add Workout">
        <br>   
    </form>
<% }}; %>
<h4>RECOMENDATION ON HOW TO RUN THIS ROUTINE</h4>
<br>
<p><%= routine.creatorTips %> <%= routine.name %></p>
<% if (user) {%>
    <a href="/routines/<%= routine._id %>/edit">EDIT ROUTINE</a>
    <a href="/">Save</a>
<% }; %>
<%- include('../partials/footer') %>